#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  margin-top: 10px;
}

.tile-container {
  display: flex;
  justify-content: center;
}

.tiles > button {
  width: 23%;
}

.tile {
  text-align: center;
  background-color: #efefe6;
}

.tile.selected {
  background-color: #302f26;
}

.padded-text {
  padding: 0.5em;
  margin: 0.5em;
}

.categories {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 10px;
}

.categories > div {
  width: 100%;
}


.block {
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid transparent;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  transition: border-color 0.25s;
  padding: 1em 1em;
}
.block:focus,
.block:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons {
  margin-top: 10px;
  justify-content: center;
}

.control {
  background-color: inherit;
  color: black;
  margin: 10px;
  border: 1px solid transparent;
}
.control:hover {
  border: 1px solid black;
}